<article class="listing">
    <a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}">
        <img src="{{rental.image}}" alt="">
        <small>View Larger</small>
    </a>

    <h3>{{#link-to 'rentals.show' rental}}{{rental.title}}{{/link-to}}</h3>
    <div class="detail owner">
        <span>Owner:</span> {{rental.owner}}
    </div>
    <div class="detail type">
        <span>Type:</span> {{rental-property-type rental.type}} - {{rental.type}}
    </div>
    <div class="detail location">
        <span>Location:</span> {{rental.city}}
    </div>
    <div class="detail bedrooms">
        <span>Number of bedrooms:</span> {{rental.bedrooms}}
    </div>
</article>
