<div class="jumbo show-listing">
    <h2 class="title">{{model.title}}</h2>
    <div class="right detail-section">
        <div class="detail owner">
            <strong>Owner:</strong> {{model.owner}}
        </div>
        <div class="detail">
            <strong>Type:</strong> {{rental-property-type model.type}} - {{model.type}}
        </div>
        <div class="detail">
            <strong>Location:</strong> {{model.city}}
        </div>
        <div class="detail">
            <strong>Number of bedrooms:</strong> {{model.bedrooms}}
        </div>
        <p class="description">{{model.description}}</p>
    </div>
    <img src="{{model.image}}" class="rental-pic">

    {{#link-to "rentals"}}Back{{/link-to}}
    <div class="row">
        <div class=" col-xs-8 no-padding">
            {{input value=message enter="postComment"  rows="2" cols="100" class="form-control" placeholder="Add a coment ..."}}
        </div>
        <div class="col-xs-2 no-padding">
            <button type="button" onClick= {{action "postComment" message null}} class="btn btn-primary m-b-lg">Post comment</button>
        </div>
    </div>

    <ul class="results">
        {{#each comments as |comment index|}}
            <li class="border-bottom">
                {{comment.message}}
                <div class="m-l-lg">
                    <ul>
                        {{#each comment.children as |child index|}}
                            <li>{{child.message}}</li>
                        {{/each}}
                    </ul>
                    {{#if (eq showInput index) }}
                        <a href="#"><small {{action 'toggleReplyInput'}}>Cancel Reply</small></a>
                        <div class="row">
                            <div class=" col-xs-8 no-padding">
                                {{input value=replyMessage rows="2" cols="100" class="form-control" placeholder="Add a coment ..."}}
                            </div>
                            <div class="col-xs-2 no-padding">
                                <button type="button" onClick= {{action "postComment" replyMessage comment}} class="btn btn-primary m-b-lg">Reply comment</button>
                            </div>
                        </div>
                    {{else}}
                        <br>
                        <a href="#"><small {{action 'toggleReplyInput' index}}>Reply</small></a>
                    {{/if}}
                </div>
            </li>
            {{else}}
                <small>Sorry, nobody has commented.</small>
        {{/each}}
    </ul>
</div>
