<div class="jumbo">
    <div class="right tomster"></div>
    <h2>About Super Rentals</h2>
    <p>
        The Super Rentals website is a delightful project created to explore Ember. By building a property rental site, we can simultaneously imagine traveling AND building Ember applications.
    </p>
    {{#link-to "contact" class="buttotn" }}
        Get startes!
    {{/link-to}}
</div>
